
body {
	background: hsl(210,5%,25%);
	color: #eee;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.nounder a:hover {
	text-decoration: none;
}

.popup {
	background: #181818;
	position: relative;
}

.popup > ul {
	display: none;
	position: absolute;
	margin: 0;
	padding: 0.5ex;
	left: -1ex;
	bottom: 1em;
	list-style: none;
	background: inherit;
}

.popup:hover > ul {
	display: block;
}

.popup li {
	margin: 0.5ex;
}

#mainbox {
	float: top;
	width: 100%;
	height: 94%;
}

#bottombar {
	float: top;
	width: 100%;
	height: 6%;
	background: #181818;
}

#bottombar > div {
	float: left;
}

#bottomstuff {
	width: 40%;
}

#bottomstuff > div {
	font-size: larger;
	display: inline-block;
	padding-left: 2em;
}

#bottomstuff img {
	vertical-align: middle;
}

#desc {
	padding: 1ex;
	text-align: center;
}

#info {
	position: fixed;
	right: 1em;
	top: 1em;
	color: black;
	text-shadow:
		-1px -1px 1px #aaa,
		 -1px 1px 1px #aaa,
		 1px -1px 1px #aaa,
		 1px 1px 1px #aaa;
}

body.normal .edit {
	display: none !important;
}

body.edit .noedit {
	display: none !important;
}

body.edit {
	background: hsl(0, 70%, 25%);
}
