
body {
	/* Old browsers */
	background: #373a3d;
	/* FF3.6+ */
	background: -moz-linear-gradient(-45deg, hsl(210,5%,30%) 0%, hsl(210,5%,15%) 100%);
	/* Chrome, Safari4+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, hsl(210,5%,30%)), color-stop(100%, hsl(210,5%,15%)));
	/* Chrome10+, Safari5.1+ */
	background: -webkit-linear-gradient(-45deg, hsl(210,5%,30%) 0%,hsl(210,5%,15%) 100%);
	/* Opera 11.10+ */
	background: -o-linear-gradient(-45deg, hsl(210,5%,30%) 0%, hsl(210,5%,15%) 100%);
	/* IE10+ */
	background: -ms-linear-gradient(-45deg, hsl(210,5%,30%) 0%, hsl(210,5%,15%) 100%);
	/* W3C */
	background: linear-gradient(135deg, hsl(210,5%,30%) 0%, hsl(210,5%,15%) 100%);

	color: #eee;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#topbar {
	float: top;
	width: 100%;
	font-size: x-large;
	height: 4%;
	background: #181818;
}

#topbar > div {
	display: inline-block;
	padding-left: 2em;
}

#gotopopup {
	background: #181818;
	position: relative;
}

#gotopopup > ul {
	display: none;
	position: absolute;
	margin: 0;
	padding: 0.5ex;
	left: -1ex;
	list-style: none;
	background: inherit;
}

#gotopopup:hover > ul {
	display: block;
}

#gotopopup li {
	margin: 0.5ex;
}

#mainbox {
	float: top;
	width: 100%;
	height: 90%;
}

#bottombar {
	float: top;
	width: 100%;
	height: 6%;
	background: #181818;
}

#desc {
	padding: 1ex;
	text-align: center;
}

body.normal .edit {
	display: none !important;
}

body.edit .noedit {
	display: none !important;
}

body.edit {
	background: hsl(0, 70%, 25%);
}
